body {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat'
}

.menu li {
    display: inline;
    margin: 0 10px;
}

.link {
    text-decoration: none;
    color: #FF0000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
}

.picture {
    width: 1280px;
}

.main-style {
    color: #373737;
}

.main-info-wrapp {
    width: 1145px;
    margin: 0 auto;
}

.main-content-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.main-content-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}

.button-style {
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    border: none;
}

.footer-style {
    text-align: right;
    font-weight: 700;
    letter-spacing: 2.4px;
}